[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "*"
gwpy = "~=3.0.5"
streamlit = "==1.23.1"
gwosc = "~=0.7.1"
astropy = "~=5.3"
gwdatafind = "~=1.1.3"
h5py = "~=3.8.0"
ligo-segments = "~=1.4.0"
ligotimegps = "~=2.0.1"
matplotlib = "~=3.7.1"
numpy = "~=1.24.3"
pandas = "~=2.0.2"
requests = "~=2.31.0"
scipy = "~=1.10.1"
tzdata = ">=2023.3"
urllib3 = "==1.26.16"

[dev-packages]

[requires]
python_version = "3.9"
